/*** this is the view for faqs ***/

@media (min-width: 1280px) and (max-width: 1480px) {
    body {

    }
    body .container {

    }
    .container .faqs-cover-div {
        border: 1px solid green;
        background-color: rgb(253,253,253);
    }
    .faqs-cover-div .faqs-content-div {
        padding-top: 100px;
        /* height: 100vh; */
        border: 1px solid red;
        /* display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid blue; */
    }
    .faqs-content-div .faqs-content-info1-div {
        /* display: flex;
        justify-content: space-between;
        width: 100%;
        border: 2px solid red; */
    }
    
    .faqs-content-info1-div .faqs-content-text-cover {
        /* display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        border: 1px solid blue; */
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .center .faqs-content-text-cover {
        width: 600px;
        /* border: 1px solid red; */
        text-align: center;
    }
    .faqs-content-text-cover .faqs-content-text-h {
        font-size: 2.5rem;
        font-weight: 200;
        color: rgba(0,0,0,0.7);
        /* border: 1px solid red; */
    }
    .faqs-content-text-cover .faqs-content-text-p {
        font-size: 1.2rem;
        color: rgba(0,0,0,0.7);
        /* border: 1px solid red; */
    }
}