/*** this is the view for withdraw from wallet ***/

@media (min-width: 1280px) and (max-width: 1480px) {
    body {

    }
    body .container {

    }
    .container .withdraw-wallet-cover-div {
        /* border: 1px solid green; */
        background-color: rgb(248,248,248);
    }
    .withdraw-wallet-cover-div .admin-dashboard-appbar {
        background-color: rgb(253,253,253);
        color: black;
    }
    .withdraw-wallet-cover-div .withdraw-wallet-content-div {
        padding-top: 100px;
        height: 74vh;
        /* border: 1px solid red; */
    }
    .withdraw-wallet-content-div .withdraw-wallet-content-cover-div {
        display: flex;
        justify-content: flex-start;
    }
    
    .withdraw-wallet-content-cover-div .withdraw-wallet-content-text-cover {
        padding-left: 60px;
        width: 30%;
        /* border: 1px solid red; */
    }
    .withdraw-wallet-content-text-cover .withdraw-wallet-content-icon-p {
        color: #4e92e2;
    }
    .withdraw-wallet-content-icon-p .withdraw-wallet-content-icon {
        font-size: 6rem;
    }
    .withdraw-wallet-content-text-cover .withdraw-wallet-content-text-h {
        font-size: 1.9rem;
        font-weight: 500;
        color: rgba(0,0,0,0.9);
        /* border: 1px solid red; */
    }
    .withdraw-wallet-content-text-cover .withdraw-wallet-content-text-p {
        font-size: 1rem;
        color: rgba(0,0,0,0.7);
        /* border: 1px solid red; */
    }
    .withdraw-wallet-content-text-p .lightblue-span {
        color: #4e92e2;
    }
}