/*** this is the view for admin ***/

@media (min-width: 1280px) and (max-width: 1480px) {
    body {

    }
    body .container {

    }
    .container .admin-cover-div {
        /* border: 1px solid green; */
        background: url('../../../../images/admin-bag.jpg') no-repeat;
        background-size: cover;
        /*background-position: 20% 30%;*/
    }
    .admin-cover-div .admin-cover-overlay {
        background-color: rgba(80,149,231, 0.2);
        height: 100vh;
    }
    .admin-cover-overlay .admin-content-div {
        padding-top: 100px;
        /* display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid blue; */
    }
    .admin-content-div .overlay-info-cover-flex {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
        width: 100%;
    }
    .overlay-info-cover-flex .overlay-info-text-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        /* border: 1px solid blue; */
    }
    .overlay-info-text-item .overlay-text-cover {
        width: 650px;
        height: 350px;
        /* border: 1px solid red; */
    }
    .overlay-text-cover .overlay-text-h {
        font-size: 4rem;
        color: white;
        font-weight: 600;
    }
    .overlay-text-cover .overlay-text-p {
        font-size: 1.2rem;
        color: white;
        font-weight: normal;
    }
    .overlay-info-cover-flex .overlay-info-form-item {
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .overlay-info-form-item .overlay-form-cover {
        width: 400px;
        /* border: 1px solid green; */
        padding-top: 20px;
    }
    .overlay-form-cover .form-group{
        border-bottom: 1px solid lightgrey;
        padding: 10px 30px 10px 50px;
    }
    .overlay-form-cover .button-group-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .button-group-flex .button-group-item {
        width: 250px;
        /* border: 1px solid blue; */
    }
    .button-group-item .button-group-item-p {
        font-size: 0.9rem;
        color: lightgrey;
        text-align: center;
    }
    .admin-cover-div .title {
        font-size: 3rem;
        color: red;
        font-weight: 600;
    }
}